{# View/Default/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h1>Choose an existing database</h1>
            <form id="form" onsubmit="changeFormAction()">
                <div>
                    <label for="databaseName">Select your db</label>
                    <select id="databaseName" name="databaseName" title="Select your database">
                        {% for db in dbList %}
                            <option value="{{ db }}">{{ db }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn">Show tables</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        function changeFormAction() {
            let form = document.getElementById("form");
            let dbName = document.getElementById("databaseName").value;
            if (!dbName || dbName === "") return;
            form.action = "/showTables/" + dbName;
            form.submit();
        }
    </script>
{% endblock %}
